.footer-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer {
    background-color: #000000;
    padding: 20px 0;
    margin-top: auto;
    width: 100%;
}

.social-icon {
    margin: 0 15px;
    font-size: 1.5rem;
    color: #fff;
    transition: transform 0.3s, color 0.3s;
}

.social-icon:hover {
    transform: scale(1.2);
    color: #ff69b4;
}

.footer a {
    text-decoration: none;
}
